.container {
    height: 600px;
    width: 600px;
    display : flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* align-content: flex-end; */
}
div{
    border: 2px solid black;
    height: 50px;
    width: 200px;
    display: inline-block;
    text-align: center;
}
#box1 {
    background-color: lightblue;
}
#box2 {
    background-color: lightgreen;
    flex-shrink: 1;
    height: 200px;
}
#box3 {
    background-color: lightcoral;
    height: 75px;
}
#box4 {
    background-color: lightgoldenrodyellow;
}
#box5 {
    background-color: lightpink;
    /* align-self: flex-end; */
}
