* {
    margin: 0;
    padding: 0;
    color:white;
}
#box {
    background-color: #9e9e9e;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}
.Heading {
    font-family: 'Arial', sans-serif;
    color: #333333;
    text-align: center;
    margin: 10px ;
    background-color: #d14b4b;
    padding: 10px;
    border-radius: 8px;
    text-transform: capitalize;
    display: inline-block;
}
#button.btn {
    background-color: #82d585; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    display :block
}
#outer{
    background-color: #bf3c3c;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    text-size-adjust: 50px;
    font-size: 25px;
}
#inner{
    background-color: #46c116;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
    text-size-adjust: 15px;
    font-size: 15px;
    border-style: dashed;
    border-width: 5px;
    border-spacing: 2px;
    border-radius: 10px;
}
#Navbar {
    background-color: #000000;
    height: 60px;

}
#Search-Button {
    background-color:#f08804;

}
#Logo{
    color:#f08804;
    font-size: 25px;
}
a{
    margin-right : 200px;
}
.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}
.boxes {
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: black 2px solid;
    padding: 20px;
    margin: 20px;;
}
.box1 {
    background-color: red;
    width: 50px;
    height: 50px;
}
.box2 {
    background-color: green;
    width: 50px;
    height: 50px;
}
.box3 {
    background-image: url("IMG_20250328_214712.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
}