*{
    margin : 0;
    padding : 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height : 60px;
    background-color: #0F1111;
    color : white;
    display : flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    width : 100px;
    height : 50px;
}
.logo{
    background-image: url('amazon-logo-editorial-icon-isolated-600nw-2333488123.webp');
    height : 50px;
    width : 100px;
    background-size: cover;
}
.border{
    border : 1px solid transparent;
}
.border:hover{
    border : 1px solid white;
}
.nav-search{
    display : flex;
    margin-left : 20px;
    justify-content: space-between;
    width : 620px;
    height : 40px;
    border-radius : 5px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius : 5px;
    border-bottom-left-radius : 5px;
    border : none;
}
.search-input{
    font-size: 1rem;
    width : 100%;
    border : none;
    outline : none;
}
#search-icon{
    background-color: #febd68;
    width : 40px;
    display : flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius : 5px;
    border-bottom-right-radius : 5px;
    color: #0F1111;
}
.nav-search:hover{
    border: 2px solid #febd68;
    box-sizing: border-box;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.panel-all {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #232f3e;
    color: white;
    padding: 0 15px;
    font-size: 14px;
}

/* Left: Menu icon */
.panel-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: 600;
}

/* Middle: Menu options */
.panel-ops {
    display: flex;
    flex: 1;           
    margin-left: 20px;
}

.panel-ops p {
    margin-right: 18px;
    white-space: nowrap;
}

/* Right: Deal section */
.panel-deals {
    font-weight: 700;
    cursor: pointer;
}
.panel-icon:hover,
.panel-ops p:hover,
.panel-deals:hover {
    border: 1px solid white;
}
.hero-section{
    background-image: url(hero_image.jpg);
    height : 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items : flex-end;
}
.hero-message{
    display: flex;
    align-items: center;
    justify-content: center;
    color : black;
    background-color: #f3f3f3;
    height : 40px;
    font-size: 0.85rem;
    width: 98%;
    margin-bottom: 25px;
}
.hero-message a{
    color : #007185;
}
    
/* Shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(235, 235, 156);
}
.box{
    margin-top: 20px;
    width: 23%;
    height: 400px;
    background-color: #f3f3f3;
    padding : 20px 0px 15px;
}
.box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}



/* Footer */
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color : white;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    height: 400px;
    color : white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top:20px;
}
ul a{
    display: block;
    font-size: .85rem;
    margin-top: 10px;
    color : #dddddd
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: .5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel4{
    background-color: #0F1111;
    color : white;
    height : 100px;
    display : flex;
    justify-content: center;
    align-items : center;
}
